@model List<Product>

<h2>Your order - @ViewData["Username"]</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name - @product.Quantity</li>
    }
</ul>

<div>
    <form asp-action="ProductQuantity" asp-controller="Order" method="post">
        <button type="submit" class="btn btn-primary">Order again</button>
    </form>
    <form asp-action="Register" asp-controller="Order" method="post" style="display:inline;">
        <button type="submit" class="btn btn-secondary">Exit</button>
    </form>
</div>